# Normalize line endings for all text files
* text=auto

# Explicitly declare text files
*.py text diff=python
*.html text
*.css text
*.js text
*.json text
*.md text
*.txt text
*.cfg text
*.ini text
*.yml text
*.yaml text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.xlsx binary
